<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>calcari.io</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-wrapper">
        <div class="problem-wrapper">
            <div class="logo">Calcario</div>
            <div class="problem" id="problem">0 * 0</div>
            <div class="counter" id="score">0</div>
            <div class="lives" id="lives">
                <div v-for="live in lives">♥</div>
            </div>
        </div>
        <div class="control">
            Control buttons:
            <div>① ② ③</div>
        </div>
        <div class="lines-wrapper">
            <div class="line" id="line-1">
                <div class="block" id="block_1">1</div>
            </div>
            <div class="line" id="line-2">
                <div class="block" id="block_2">4</div>
            </div>
            <div class="line" id="line-3">
                <div class="block" id="block_3">5</div>
            </div>
        </div>
    </div>
    <embed src="back.mp3" autostart="true" loop="true" hidden="true">
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</html>