@font-face {
    font-family: "oswald";
    src: url("font.ttf");
}

* {
    font-family: "oswald", sans-serif;
    color: white;
    user-select: none;
}

html, body {
    overflow: hidden;
    background: linear-gradient(to bottom left, #8360c3 0%, #2ebf91 100%);
    background-size: 200% 200%;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


.lines-wrapper {
    width: 48vw;
    height: 96vh;
    display: flex;
    flex-direction: row;
    margin: -4.2em auto;
    perspective: 30em;
}

.line {
    display: flex;
    border: 1px solid rgb(255, 153, 0);
    border-top: none;
    border-bottom: none;
    width: 33%;
    transform: rotateX(50deg);
    z-index: -1;
}

#line-2{
   border-left: none;
    border-right: none;
}

.block {
    position: relative;
    top: 0;
    height: 2em;
    font-size: 3em;
    margin: 0.4em auto 0;
    transition: top 2s cubic-bezier(0, 0, 1, 1);
}

.problem-wrapper {
    height: 17vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    box-shadow: 0 0 25px rgba(20, 49, 175, 0.767); 
    z-index: 1;
}

.logo {
    font-size: 3em;
    position: absolute;
    top: 5px;
    left: 5px;
}

.problem {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.counter {
    font-size: 2em;
    position: absolute;
    top: 5.5vh;
    right: 5px;
}
.chosen-correctly {
    background-color: darkcyan;
}
.chosen-wrong {
    background-color: IndianRed;

}
.lives {
    position: absolute;
    right: 5px;
    top: 5px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.control {
    font-family: Roboto sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20vh;
    left: 15px;
    font-size: 22px;
    flex-wrap: wrap;
    align-items: center;

}
.control div {
    align-items: center;
}